.gfield {
	@extend .form-group;
	input:not([type='checkbox']),
	select,
	textarea {
		@extend .form-control;
	}
	input[type="checkbox"] {
		@extend .form-check-input;
	}
	.gfield_checkbox {
		label {
			margin-left: 20px !important;
			margin-top: 4px !important;
		}
	}
}

.validation_error {
	color: $red !important;
	border-color: $red !important;
}

.gform_wrapper {
	.gfield_error {
		.gfield_label {
			@extend .text-danger;
		}
	}
	.validation_message {
		@extend .text-danger;
	}
}

.gf_progressbar {
	border: none !important;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	background-color: transparent !important;
}

.gform_next_button {
	position: absolute;
	right: 20px;
	@extend .btn;
	@extend .btn-outline-dark;
}

.gform_previous_button {
	@extend .btn;
	@extend .btn-outline-dark;
}

.ginput_container_date {
	.datepicker {
		width: 100% !important;
	}
}